{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>GPS Chohtan | Gallery</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Primary School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href='{% static "gpsfe/css/bootstrap.css" %}' rel="stylesheet" type="text/css"/>
<!-- Custom Theme files -->
<link href='{% static "gpsfe/css/style.css" %}' rel="stylesheet" type="text/css"/>	
<script src='{% static "gpsfe/js/jquery.min.js" %}'> </script>

<!--webfonts-->
 <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
		<!----- start-header---->
			<div id="home" class="header two">
					<div class="top-header two">	
						<div class="container">
						<div class="logo">
							<a href='{% url "home" %}'><h1>GPS<span>Chohtan</span></h1></a>
						</div>
					<!----start-top-nav---->
						<div class="top-menu">
							<span class="menu"> </span>
								<ul class="cl-effect-16">
								 <li><a href='{% url "home" %}' data-hover="Home">Home</a></li>
								<li><a  href='{% url "about" %}' data-hover="About">About</a></li>
								<li><a href='{% url "teachers" %}' data-hover="Teachers">Teachers</a></li>
								<li><a class="active" href='{% url "gallery" %}' data-hover="Gallery">Gallery</a></li>
								<li><a href='{% url "blog" %}' data-hover="blog">Blog</a></li>
								<li><a href='{% url "contact" %}' data-hover="Contact">Contact</a></li>
								  <div class="clearfix"></div>
								</ul>
							</div>
							<!-- script-for-menu -->
								<script>
									$("span.menu").click(function(){
										$(".top-menu ul").slideToggle("slow" , function(){
										});
									});
								</script>
								<!-- script-for-menu -->
							<div class="clearfix"> </div>
					</div>
				</div>
			    <div class="clearfix"> </div>
		</div>
		<!----- //End-slider---->
<!--gallery-->
	<div class="gallery services">
		<div class="container">
				   <div class="gallery-head">
							<h3>Gallery</h3>
							<p>Our kids Gallery</p>
					 </div>
			<div class="portfolio-bottom">
				<div class="gallery-one two">
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/g1.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/g1.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/n1.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/n1.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/g2.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/g2.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/g3.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/g3.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/n2.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/n2.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/g4.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/g4.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/g2.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/g2.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/g5.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/g5.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left two">
						<a href="{% static 'gpsfe/images/n3.jpg' %}" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{% static 'gpsfe/images/n3.jpg' %}" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--swipebox -->	
			<link rel="stylesheet" href="{% static 'gpsfe/css/swipebox.css' %}">
				<script src="{% static 'gpsfe/js/jquery.swipebox.min.js' %}"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
			<!--//swipebox Ends -->


<!--/mid-bg-->
	<div class="mid-bg">
		<div class="container">
			<div class="mid-section">
				 <h3>First Day at School!</h3>
				 <h4>ARE YOU READY ?</h4>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text  and typesetting industry. Lorem Ipsum has been the industry's standard dummy  ever since the 1500s,</p>
			</div>
		</div>
	</div>
	<!--address-->
	<div id="contact" class="address">
		<div class="col-md-7 address-left">
			 <div class="products">
				 <h3>Classes</h3>
				 <ul>
					 <li><a href="{% url 'blog' %}">Sports</a></li>
					 <li><a href="{% url 'blog' %}">Music</a></li>
					 <li><a href="{% url 'blog' %}">Dance</a></li>
				 </ul>
			 </div>
			 <div class="company-adout">
				 <h3>Learn</h3>
				 <ul>
					 <li><a href="{% url 'about' %}">About</a></li>
					 <li><a href="{% url 'teachers' %}">Teacher</a></li>
					 <li><a href="{% url 'contact' %}">Contact</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
			 <p>Creativity itself doesn't care at all about results - the only thing it craves is the process. 
				Learn to love the process and let whatever happens next happen,<span>
				without fussing too much about it</span></p>
		</div>
		<div class="col-md-5 address-right">
			<h3>Our Office</h3>
			<p>Shree Dungarpuri Ji Ka Math Building</p>
			<p>Tankar Pada</p>
			<ul class="bottom">
				 <li>Near Roadways Bus Stand</li>
			</ul>
			<ul>
				 <li>Tehsil: Chohtan</li>
				 <li>District: Barmer</li>
				 <li><a class="mail" href="mailto:gpsschool2015@gmail.com">gpsschool2015@gmail.com</a></li>
			</ul>
		</div>
		 <div class="clearfix"></div>
	</div>
	<!--//address-->
		<!----footer--->
			<div class="footer">
				<div class="container">
					<div class="copy">
		              <p>&copy; 2015 All Rights Reserved Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
		            </div>
					
				</div>
			</div>
	<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="{% url 'gallery' %}" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>