{% extends 'gpsschool/base.html' %}
{% load static %}

{% block  title %} Login {% endblock %}

{% block content %}
<div class="container h-100 d-flex justify-content-center">
   <div class="row">
      {% load widget_tweaks %}
      <form method="post" novalidate>
         {% csrf_token %}
         {% for hidden_field in form.hidden_fields %}
         {{ hidden_field }}
         {% endfor %}
         {% for field in form.visible_fields %}
         <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
         </div>
         {% endfor %}
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
</div>
{% endblock %}