{% extends "gpsschool/base.html" %}
{% block content %}
  <h1>Our Facuty Members</h1>
    {% for teacher in teachers %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">

          <div class="media-body">
            <h5>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h5>
            <a class="mr-2" href="{% url 'user-announcements' teacher.user.username %}">{{ teacher.user.username }}</a>
            <p class="text-secondary">{{ user.email }}</p>

            <div class="article-metadata">
              <small class="text-muted">Joining Date: {{ teacher.joining_date |date:"F d, Y" }}</small>
            </div>
          </div>
        </article>
    {% endfor %}
    
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}